@font-face {
    font-family: "Roboto";
    src: url("font/Roboto-Regular.ttf");
  }
  @font-face {
    font-family: "Roboto-Italic";
    src: url("font/Roboto-Italic.ttf");
  } 
  @font-face {
    font-family: "Roboto-Black";
    src: url("font/Roboto-Black.ttf");
  }

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
  /*pour garder la meme taille*/
  * {
    box-sizing: border-box; 
  }
  iframe,
  img {
    width: 100%;
    display: block;
  }
  body {
    text-align: center;
    margin: auto;
    background-size: cover;
    font-family: "Poppins", sans-serif;
  }
  form {
    width: 90%;
    margin: auto;
    padding-top: 40px;
    background-color: rgb(226, 224, 224);
  }
  /*************** END GLOBAL ***************/
  
  /*************** HEADER ***************/
 h1{
    text-align: left;
    margin: auto;
    color: pink;
    padding-top: 20px;
    padding-left: 20px;
 } 
/*************** END HEADER ***************/
/*************** MAIN ***************/
nav>button>a {    
    color:white;
    background-color: rgb(24,128,56);
    font-size: 30px;
    margin-top: 50px;
    border-radius: 10px;
    text-decoration: none;
}
nav>button{
    margin-top: 20px;
    background-color:  rgb(24,128,56);
    border: transparent;
    border-radius: 10px;
    width: 15%;
    border: 2px solid mediumslateblue;
}
.inscription>button {
    
    color:white;
    background-color: rgb(180,95,6);
    font-size: 30px;
    margin-top: 20px;
    border-radius: 10px;
    width: 15%;
    margin-bottom: 30px;
    border: 2px solid mediumslateblue;
}

  .email{
    font-size: larger;
    text-align: center;
    width: 50%;
  }
  .pseudo {
    font-size: larger;
    text-align: center;
    width: 50%;
  }
  .mdp {
    font-size: larger;
    text-align: center;
    width: 50%;
  }
  .confir_mdp{
    font-size: larger;
    text-align: center;
    width: 50%;
  }
  .image{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    width: 33%;
    color:royalblue;
    margin-left: 20px;
    background-color: pink;
    
  }
  .envoi{
    font-size: larger;
    text-align: center;
    width: 20%;
    background-color: rgb(180,95,6);
    color: white;
  }
   input {
    height: 40px;
    width: 80%;
    border-radius: 5px;
    margin-top: 10px; 
    border: 2px solid mediumslateblue; 
    margin-bottom: 40px;
    /* background-color: rgb(236, 233, 233);
    /* filter: blur(8px); */
   }
   input::file-selector-button {
    font-weight: bold;
    color: rgb(24,128,56);
    padding: 0.5em;
    border: solid rgb(233, 198, 1);
    border-radius: 3px;
    background-color: rgb(233, 198, 1);
  }
  nav{
    display: flex;
    justify-content: space-between;
    border: solid 1px;
  }
  .profil{
    width: 60px;
    height: 60px;
  }
  .profil img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .deco{
    color: white;
    background-color: red;
    border: transparent;
    
  }
  .post{
    width: 200px;
    height: 200px;
    margin: 50px;
  }
  .postimg{
    width: 200px;
    height: 200px;
  }
  .postimg img{
    width: 100%;
    height: 100%;
    
  }
  .fa-heart:before {
    color: red;
    margin-left: 10px;
    content: "\f004";
}
.heart{
  background-color: transparent;
  border: transparent;
  text-decoration-line: none;
  font-weight: bolder;
  color: black;
}
  /*************** END MAIN ***************/
  
  
  
  /*************** FOOTER ***************/
  
  /*************** END FOOTER ***************/
  
  /*************** MEDIAQUERY ***************/
  
  @media (max-width: 1400px) {
    header {
      background-color: #e68f15;
    }
    header h2 {
      font-size: 14px;
    }
  }
  
  @media (max-width: 960px) {
    header {
      background-color: #a6f28b;
    }
    .logo1 {
      display: none;
    }
    .logo2 {
      display: inline;
    }
    header h2 {
      font-family: "Roboto-Black";
    }
  }
  
  /*************** END MEDIAQUERY ***************/
  