body{
    margin: 0;
    padding: 0;
    background-color: grey;
}

.container{
    width: 60%;
    margin: auto;
    display: flex;
}

input{
    width: 100%;
    height: 35px;
}
nav{
    display: flex;
    justify-content: space-between;
    border: solid 1px;
  }
  .publier{
    margin-top: 17px;
    margin-right: 20px;
    text-decoration: none;
    color: orange;
    font-size: 20px;

  }
.profil{
    width: 60px;
    height: 60px;
}
.profil img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.deco{
    color: white;
    background-color: red;
    border: transparent;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 19px;
  }
  .post{
    width: 200px;
    height: 200px;
    margin: 50px;
  }
  .postimg{
    width: 200px;
    height: 200px;
  }
  .postimg img{
    width: 100%;
    height: 100%;
    
  }
  .fa-heart:before {
    color: red;
    margin-left: 10px;
    content: "\f004";
    font-size: 50px;
}
.heart{
    background-color: transparent;
    border: transparent;
    text-decoration-line: none;
    font-weight: bolder;
    color: black;
}
